[Unit]
Description= sinatra rack service
After=network.target

[Service]
Type=simple
User={{ sinatra_user }}
WorkingDirectory={{ www_dir }}/{{ sinatra_dir }}
ExecStart=/usr/sbin/rackup.bash
Restart=on-abort

[Install]
WantedBy=multi-user.target
